/* Reglas de estilo para el documento HTML */

h1 	{
	color:#B0C4DE;
	font-size:18;
	font-family:"helvetica";
	}

.form-container {
   	display: flex;
    	justify-content: center;
    	align-items: center;
    	height: 100vh;
	}

form {
  /* Centrar el formulario en la página */
 	margin: 0 auto;
  	width: 400px;

  /* Esquema del formulario */
  	padding: 3em;
	font-size:11;
	font-family:"helvetica";
	font-color:#708090;
	width: 200px;
	background-color:#283747;
	
	}


body 	{
	font-size: 18;
	color:#B0C4DE;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

button[type="submit"] {
    	margin-top: 20px;
   	padding: 10px 20px;
    	background-color: #6495ED;
    	color: white;
    	border: none;
	border-radius: 5px;
    	cursor: pointer;
 	text align: center;
	width: 100%;
	}

.btn-container {
	text-align:center;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}
	

.contenedor-formulario {
  background-color: #212F3C;
  padding: 20px;
}
